@import "../global.scss";

@media (max-width: $mobile-width) {
    .container {
        display: flex;
        width: 100%;
        height: $size121px;
        background-color: $white-3;
        align-items: center;
        justify-content: center;


        .topBarContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            width: calc(100% - 46px);

            .left {
                left: 0px;
                position: absolute;
                width: $size24px;
                height: $size24px;
                border: none;
                background-color: $black-2;
            }

            .center {
                width: 99px;
                height: 28px;
                border: none;
                background-color: $black-2;
            }

            .right {
                right: 0px;
                position: absolute;
                width: $size24px;
                height: $size24px;
                border: none;
                background-color: $black-2;
                margin-left: auto;
            }


        }
    }

}