@import '../global.scss';

@media (max-width: $mobile-width) {
    .container {
        display: flex;
        flex-direction: column;
        width: $size343px;

        p {
            color: $gray-2;
            font-size: $size14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .inputBox {
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
                color: $gray-1;
                font-size: $size20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border: none;

                margin-top: $size16px;

                width: 100%;

                &:focus-visible {
                    outline: none;
                }
            }

            img {
                cursor: pointer;
            }
        }

        .smallLine {
            display: flex;
            width: $size343px;
            height: $size2px;
            background-color: $white-2;

            margin-top: $size12px;
        }

        .errorText {
            color: $main-blue;
            font-size: $size10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            margin-top: $size4px;
        }
    }
}