$mobile-width: 375px;


$white-1 : #F5F5F7;
$white-2 : #EDEDED;
$white-3 : #ffffff;
$white-4 : #FEFEFE;
$white-5 : #F9F9F9;
$white-6 : #EEF2F4;


$gray-1: #757575;
$gray-2 : #C4C4C4;
$gray-3 : #7B7B7B;

$black-1 : #424242;
$black-2 : #000000;

$main-blue : #509BF8;
$main-blue-2: #B9D7FC;

$size1px : 0.0625rem;
$size7px : 0.4375rem;
$size8px : 0.5rem;

$size12px : 0.75rem;
$size13px : 0.8125rem;
$size14px : 0.875rem;
$size16px : 1rem;
$size17px : 1.0625rem;
$size18px : 1.125rem;
$size20px : 1.25rem;

$size21px : 1.3125rem;
$size24px : 1.5rem;
$size28px : 1.75rem;
$size30px : 1.875rem;

$size32px : 2rem;
$size35px : 2.1875rem;
$size39px : 2.4375rem;
$size40px : 2.5rem;

$size50px : 3.125rem;

$size72px : 4.5rem;

$size83px : 5.1875rem;

$size121px : 7.5625rem;

$size132px : 8.25rem;
$size140px : 8.75rem;

$size152px : 9.5rem;
$size157px : 9.8125rem;

$size213px : 13.3125rem;


$size300px : 18.75rem;
$size335px : 20.9375rem;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--fontNoto);
}